@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	line-height: 1.5;
	font-synthesis: none;
	/* https://marco.org/2012/11/15/text-rendering-optimize-legibility */
	text-rendering: optimizeSpeed;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	color-scheme: light dark;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

* {
	text-wrap: pretty;
}
